<footer>
  <p><%= current_year %></p>
  <p>Tagir Ahmadeev</p>
  <%= github_link 'tagirahmad', 'test_guru' %>
  <p>
    Это учебный проект, который я делаю в рамках онлайн-школы
  </p>
  <a href="http://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a>
</footer>