<footer>
  <p><%= current_year %></p>
  <p>Tagir Ahmadeev</p>
  <%= github_link 'tagirahmad', 'test_guru' %>
  <p>
    <%= t('.description') %>
  </p>
  <a href="http://thinknetica.com/"><%= t('.project') %></a>
</footer>