.nav.user {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  list-style: none
}

.nav.admin {
  background-color: #4293e6;
  padding: 0 25px;
  color: #ffffff;
}

.nav.admin a {
  color: #ffffff;
}