<style type="text/css">
  .links {
    display: flex;
    flex-direction: column;
  }
</style>

<h2>List of all tests</h2>

<%= link_to 'Create new test', new_admin_test_path %>

<br><br>

<div class="links">
  <%= render @tests %>
</div>