<h2><%= @test.title %></h2>

<h3>Questions</h3>

<ul>
  <%= render partial: 'questions/question', collection: @test.questions %>
</ul>

<br/>

<%= link_to 'Add question', new_admin_test_question_path(@test)  %>

<br/>

<%= link_to 'Back', admin_tests_path %>